@keyframes dropdownShow {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes dropdownShowCenter {
    0% {
        opacity: 0;
        transform: translate(-50%, -10%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

.dropdown-trigger {
    position: relative;
}

.dropdown-hover:hover .dropdown-menu, .dropdown-click .dropdown-menu{
    display: flex;
}

/* this before element handles the hover for the gap between
the trigger and the menu to prevent the menu from disappearing
*/
.dropdown-hover:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
}

.dropdown-menu {
    position: absolute;
    top: calc(100% + 0.3rem);
    flex-direction: column;
    display: none;
    min-width: 100%;
    background: white;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    animation: dropdownShow 100ms ease-in 1;
}

.dropdown-menu-left-align {
    left: 0;
}

.dropdown-menu-right-align {
    right: 0;
}

.dropdown-menu-center-align {
    left: 50%;
    transform: translateX(-50%);
    animation: dropdownShowCenter 100ms ease-in 1;
}

.dropdown-item {
    background: none;
    border: none;
    padding: 0.2rem 0.5rem;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-align: left;
    text-wrap: nowrap;
}

.dropdown-item:hover {
    background: #f2f2f2;
}